/* 제목: 조직도, 채팅 목록 */
h2 {
    margin: 0px;
}

.chatContainer {

}

/* 조직도 검색 */
.selectOrgChart {
    display: flex;
    width: 1200px;
    height: 30px;
    margin: 10px auto;
    position: relative;
    text-align: left;
}

/* 조직도 검색태그 */
.selectOrgChart input {
    width: 300px;
    font-size: 15px;
    border-radius: 10px;
}

/* 조직도 검색 태그 안에 돋보기 아이콘 넣기 */
.selectOrgChart button {
    position: absolute;
    left: 270px;
    background-color: inherit;
    border: none;
}

.selectOrgChart button :hover{
    cursor: pointer;
}

/* 조직도 검색 태그(border: 2px)에 아이콘 padding으로 위치 조정 */
.selectOrgChart i {
    padding-top: 2px;
    padding-bottom: 2px;
}

/* 조직도 및 채팅 목록 전체 div 설정 */
.list {
    width: 1200px;
    height: 730px;
    margin: 10px auto;
    border: 2px solid lightgray;
    border-radius: 5px;
    display: flex;
}

/* 조직도 전체 */
.orgChart {
    width: 360px;
    height: 700px;
    border-right: 2px solid lightgray;
}

/* 조직도 제목 */
.orgChart_title {
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

/* 채팅 목록 전체 */
.chatList {
    width: 940px;
    height: 700px;
}

/* 채팅 목록 제목 */
.chatList_title {
    padding: 10px;
    border-bottom: 2px solid lightgray;
}

.chatList_content {
    overflow-y: scroll;
}

/* 각각의 채팅 */
.eachChat {
    height: 120px;
    border-bottom: 2px solid lightgray;
}