.mypageContainer {
    margin: auto;
    padding: 50px;
    border: 1px solid lightgray;
    width: 95%;
    font-family: 'ONE-Mobile-Regular';
    /* display: flex; */
    justify-content: center;  /*가로로 가운데 정렬 */
    align-items: center; /*세로로 가운데 정렬 */
    /* flex-direction: column; */
}

@media (max-width: 992px) {
    .mypageContainer {
        margin-left: 20px;
        margin-right: 10px;
        /*width: 100%; /* 중간화면에서는 전체 너비 */
        /*justify-content: center; /* 가로로 가운데 정렬 유지 */
        /* align-items: center; 세로로 가운데 정렬 유지 */
        /* padding: 10px; /* 중간 화면일 때의 여백 조정 */
    }
}

.tablebox {
    width: auto;
    height: 280px;
}

.profiletitle {
    margin-left: 20px;
    padding: 10px;
}

.mypageProfil {
    /* display: flex; */
    margin-left: auto; 
    margin-right: auto; 
    max-width: 900px;
    padding: 0px; 
    margin-top: 20px;
    text-align: center;
}

/* 중간 화면일 때의 스타일 */
@media (max-width: 992px) {
    .mypageProfil {
        margin-left: 100px; 
        margin-right: 20px;
        max-width: 100%; 
        padding: 10px;
    }
}

.profilTd_id{
    width:auto;
    text-align: center;
}

.profilTd_value{
    width:auto;
    text-align: left;  
    align-items: center;
}

.profilTd_value_pw {
    width:auto;
    display: flex;
    align-items: center;
}

.profilTd_input{
    font-family: 'NanumSquare';
    width: 120px;
}


.profiltitle {
    margin-top: 40px;
    text-align: left;
    justify-content: center;
}

.profiltitle p {
    text-align: center;
    margin-bottom: 0.5rem;
}

.image {
    border-radius: 100%;
}
   
.titlename {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    margin-right: auto;
    margin-left: auto;
}
  
.titlename .userName {
    font-size: 25px;
}
  
.titlename .userGrade {
    margin-left: 6px;
    font-size: 18px;
}

.tablebox_profil {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 850px;
    border-collapse: collapse;
}

.tablebox_profil td {
    vertical-align: middle; /* 세로 가운데 정렬 */
    padding: 10px; /* 셀 내부 여백 */
    height: 50px; /* 모든 셀의 높이를 동일하게 설정 */
}

.tablebox_profil tr td {
    border : none;
}

.userInfo {
    margin-top: 30px;
    text-align: left;
    margin-left: auto; 
    margin-right: auto; 
    max-width: 800px; 
    width: 100%; 
    padding: 20px;
}

/* 중간 화면일 때의 스타일 */
@media (max-width: 992px) {
    .userInfo {
        margin-left: 20px; 
        margin-right: 20px; 
        max-width: 100%; 
        padding: 10px; 
    }

    .changePossible {
        display: flex;
        flex-wrap: nowrap; /* 한 줄로 유지 */
        justify-content: space-between; /* 공간 균등 분배 */
    }

    .userNumBox, .userPwBox {
        flex-grow: 1; /* 너비를 균등하게 분배 */
    }

    .userPwBox {
        margin-left: 20px; /* 여백 조정 */
    }
}

.userNumUpdatebtnInput, .userPwChangebtnInput {
    background-color: #2e3d86;
    border:#2e3d86;
    margin-left: 10px;
}

.userNumUpdatebtnInput:hover, .userPwChangebtnInput:hover{
    background-color: #7289CF;
    border:#7289CF;
    color:#fefefe;
}

.userNumUpdatebtnInput:active, .userPwChangebtnInput:active {
    background-color: #2e3d86 !important;
    border:#2e3d86 !important;
    color:#fefefe;
}

.userNumUpdatebtn {
    background-color: #2e3d86;
    border:#2e3d86;
    margin-left: 10px;
    width: 100px;
    /* margin-top: 10px; */
}

.userNumUpdatebtn:hover {
    border: #2e3d86;
    background-color: #2e3d86;
    color: white;
    font-weight: bold;
}

.userNumUpdatebtn:active {
    background-color: white;
    border: #2e3d86 !important;
    color: #2e3d86;
}


.userPwChangebtn {
    background-color: #2e3d86;
    border:#2e3d86;
    margin-left: 10px;
    width: 100px;
}

.userPwChangebtn:hover {
    border:#2e3d86;
    background-color: #2e3d86;
    color: white;
    font-weight: bold;
}

.userPwChangebtn:active {
    background-color: white;
    border: #2e3d86 !important;
    color: #2e3d86;
}

/* 연차 정보 */
.userAnnualInfobox {
    margin-top: 40px;
    margin-left: auto;
    text-align: center;
    width: 95%; /* 화면 크기에 맞게 너비 확장 */
    padding: 20px; /* 내부 여백 */
    font-family: 'ONE-Mobile-Regular';
}

.userAnnualInfo_title {
    margin-left: 10px; 
    text-align: left; 
    margin-bottom: 10px; /* 제목 아래 여백 */
    font-weight: bold;
}

@media (max-width: 992px) {
    .userAnnualInfobox {
        max-width: 100%; /* 중간화면에서는 전체 너비 */
        margin-left: 20px;
    }
}

.tableHead {
    border: none;
    text-align: right;
    font-size: 12px;
}

.tableHead td {
    border-bottom: 1px solid rgb(212, 212, 212);
}

.titlebar {
    width: 115px;
    margin: 5px 0px 10px 10px;
    border: 1.8px solid #2e3d86;
    opacity: 1;

}

.tablebox {
    width: 100%;
    margin: 0 auto;
}

.userAnnualInfoTable {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /* border: 0.5px solid rgb(212, 212, 212);/// */
}

.infotitle {
    width: 200px;
    background-color: #2e3d86 !important;
    color: white !important;
    border-top: 1px solid rgb(212, 212, 212);
    border-right: 0.5px solid rgb(212, 212, 212);
}

.infoValue {
    width: 200px;
    background-color: #ffffff !important;
    border-top: 1px solid rgb(212, 212, 212);
    border-right: 0.5px solid rgb(212, 212, 212);
}

@media (max-width: 992px) {
    .mypageContainer, .mypageProfil, .userAnnualInfobox {
        max-width: 100%; /* 중간 화면에서 전체 너비로 확장 */
        padding: 10px;
    }
}

/* 모달 */
.userNumModal, .userPwModal {
    font-family: 'ONE-Mobile-Regular';
}

.modalTitle {
    font-size: 25px;
    font-weight: bold;
    color: #2e3d86;
    margin-top: 5px;
    align-items: center;
    margin-left: 26px;
}

.userNum_form, .password_form{
    width: 400px;
    margin: auto;
    justify-content: center;
}

.formPhoneNumber, .formPhoneNumberNew {
    margin-top: 5px;
    margin-bottom: 15px;
}

.formPw, .formPwNew {
    margin-top: 5px;
}

.modal_input {
    border-radius: 0;
    border: none;
    border-bottom: 1.5px solid black;
    margin-bottom: 30px;
}

.modal_input_pw {
    border-radius: 0;
    border: none;
    border-bottom: 1.5px solid black;
    margin-bottom: 30px;
    width: 370px;
}

.modal_input_pw[type="password"] {
    color: black !important; 
    font-family: 'NanumSquare';
}

.modal_input:active, .modal_input:focus, .modal_input_pw:active, .modal_input_pw:focus {
    border-bottom:3px solid #2e3d86;
    outline: none !important;
    box-shadow: none;
}

.toggle_password {
    color:#2e3d86 !important;
    width: 50px;
    margin-bottom: 20px;
}

.password_container{
    display: inline-flex;
}

.modal_footer {
    border-top: none;
    justify-content: center !important;
}
