/* 기존의 Container 스타일 유지 */
.Container {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    color: #2e3d86;
    margin-left: 220px;
    height: 75vh;
    max-height: 900px; /* 원하는 최대 높이로 설정 */
    width: 2000px;
    max-width: 80%; /* 원하는 최대 높이로 설정 */
    position: relative;
}

/* 툴바 스타일 */
.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}
.left-buttons{
    display: flex;
    
}
.icon {
    margin-right: 8px; /* 원하는 간격만큼 조절 */
}

.left-buttons .btn {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.left-buttons .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.left-buttons .btn:not(:disabled) {
    background-color: #2e3d86;
}

.folder-buttons, .utility-buttons, .trash-button {
    display: flex;
    align-items: center;
}


/* 검색 바 스타일 */
.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    width: 200px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button,
.detail-button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #2e3d86;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover,
.detail-button:hover {
    background-color: #1d2a6d;
}

/* 상세 검색 스타일 */
.detail-search {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 500px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e6e6ea;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(107, 119, 172, 0.2);
    z-index: 50;
}

.detail-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.detail-field label {
    width: 80px;
    margin-right: 10px;
}

.detail-field input[type="text"],
.detail-field input[type="date"],
.detail-field select {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.detail-field input[type="checkbox"] {
    margin-right: 5px;
}

.detail-actions {
    display: flex;
    justify-content: flex-end;
}

.detail-actions .search-button {
    width: 100px;
}

.detail-search input[type="date"] {
    width: calc(50% - 5px);
}



.email-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
   

}

.email-table th,
.email-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-table th {
    background-color: #e9ecef;
    color: #495057;
}

.email-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.unread {
    font-weight: bold;
}
.read{
    color: gray;
}
.selected {
    background-color: #d0e1ff;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

}


.pagination {
    flex: 1;
    display: flex;
    justify-content: center;
}


.composeButton {
    position: relative;
    margin-left: auto;

}

.email-table-container {
    height: 80%;
    overflow: auto;
}

.separator {
    width: 1px;
    height: 20 px;
    background-color: #dee2e6;
    margin: 0 15px;
}
.delete-warning-container{
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    margin-left: 5px;
}
.delete-warning{
    margin: 0;
    padding: 8px 12px;
    font-size: 12px;
    color: #d71717;
    
}