body {
  font-family: 'ONE-Mobile-Regular';
}

/* 반응형 사이즈 */
@media screen and (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: none !important;
  }
}

.pageTitle {
  text-align: left;
  margin-bottom: 15px;
  color: gray;
}

.docHeader {
  display: flex;
  justify-content: space-between;
}

.docTitleHeader tr, .docHeader tr, .docContent tr{
  vertical-align: middle;
}

.docContent {
  margin-top: 10px;
  border: 1px solid #dee2e6;
}

.docKeyFile {
  height: 30px;
  text-align: center;
  background-color: #F1F2F6 !important;
  color: #7E7E7F !important;
  padding: 8px;
}

.centerText {
  text-align: center;
  vertical-align: middle;
}

.centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.docInfo {
  width: 300px;
}

.docInfo tr{
  height: 40px;
}

.apprLineBox {
  margin-left: auto;
  width: auto;
  height: 200px;
  border:1px solid #dee2e6;
}

.docTitle {
  width: 300px;
  font-size: 20px;
  background-color: #F1F2F6 !important;
  color: #7E7E7F !important;
  padding: 8px;
}

.apprLineTbody {
  width: 40%;
}

.docKey {
  font-weight: bold;
  width: 200px;
  background-color: #F1F2F6 !important;
  color: #7E7E7F !important;
  padding: 8px;
  vertical-align: middle;
}

.docValue {
  font-weight: 100;
  width: 250px;
  vertical-align: middle;
}

.docValue_date {
  font-weight: 100;
  font-size: 13px;
  height: 40px;
}

.docKeyAppr {
  font-weight: bold;
  width: 120px !important;
  background-color: #F1F2F6 !important;
  color: #7E7E7F !important;
  padding: 8px;
  vertical-align: middle;
}

.docValueAppr {
  font-weight: bold;
  width: 100px !important;
  vertical-align: middle;
}

.docValueRen {
  width: 450px;
}

.apprType {
  font-weight: 100;
  color: #7E7E7F !important;
  font-size: 13px;
  position: absolute; /* 특정 위치 고정을 위해 절대 위치 지정 */
  top: 30; /* 상단에 위치할 경우 top을 0으로 설정 */
  right: 37.5px; /* 오른쪽 여백 설정 */
}

.apprTypePosi {
  font-weight: 100;
  color: #7E7E7F !important;
  font-size: small;
}

.inputForm:active, .inputForm:focus {
  outline: none !important;
  box-shadow: none;
  border: 1.3px solid #2e3d86;
}

.errorMessage {
  color: rgb(230, 66, 66);
  font-size: 14px;
  font-weight: 300;
}

.customAlert {
  background-color: #a3b8e4; 
  border-color: #a3b8e4;
  color: #fefefe;
}

.inputFormDate {
  margin-left: 15px;
  width: auto;
}

.inputFormDate:active, .inputFormDate:focus {
  outline: none !important;
  box-shadow: none;
  border: 1.3px solid #2e3d86;
}

/* btn */
.btnBox {
  margin-top: 20px;
  margin-bottom: 40px;
}

.cancelBtn, .saveAsBtn, .saveBtn {
  margin: 10px;
  width: 100px;
  padding: 8px;
  background-color: #2e3d86;
  border-color: #2e3d86;
}

.apprLineBtn {
  margin: 10px;
  padding: 8px;
  width: 80px;
  background-color: #2e3d86;
  border-color: #2e3d86;
}

.cancelBtn:hover, .saveAsBtn:hover, .saveBtn:hover, .apprLineBtn:hover {
  border-color: #7289CF;
  background-color: #7289CF;
  /* color:#1b1b1b; */
  font-weight: bold;
}

.cancelBtn:focus, .saveAsBtn:focus, .saveBtn:focus, .apprLineBox:focus {
  border-color: #2e3d86 !important;
  background-color: #2e3d86 !important;
  font-weight: bold;
}

/* .cancelBtn.active, .saveAsBtn.active, .saveBtn.active {
  border-color: #2e3d86 !important;
  background-color: #2e3d86 !important;
  font-weight: bold;
} */

/* modal */
.modalSaveBtn {
  background-color: #2e3d86;
  border-color: #2e3d86;
  width: 60px;
}

.modalSaveBtn:hover {
  border-color: #7289CF;
  background-color: #7289CF;
  /* color:#1b1b1b; */
  font-weight: bold;
}

.modalSaveBtn:focus {
  border-color: #2e3d86 !important;
  background-color: #2e3d86 !important;
  font-weight: bold;
}

.apprModalHeader, .apprModalTitle {
  color: #2e3d86;
  font-weight: bold;
}

.apprModalFooter {
  border-top: none;
  justify-content: center;
}

/* 취소 확인 모달 */
.cancelModal{
  text-align: center;
}

.cancelModalBody {
  margin-top: 20px;
  font-size: 16px;
}

.cancelModalFooter {
  border-top:none;
  justify-content: center;
}

/* detail page btn */
.SumbitCancelBtn, .WithdrawBtn {
  background-color: #2e3d86;
  border-color: #2e3d86;
  color: white;
  margin: 10px;
  width: 100px;
  padding: 8px;
}

.SumbitCancelBtn:focus, .WithdrawBtn:focus {
  border-color: #2e3d86 !important;
  background-color: #2e3d86 !important;
  font-weight: bold;
}

.SumbitCancelBtn:hover, .WithdrawBtn:hover  {
  border-color: #7289CF;
  background-color: #7289CF;
  font-weight: bold;
}