.Container {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 20px;
    color: #2e3d86;
    margin-left: 200px;
}

.form-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.form-label {
    flex: 0 0 100px;
    text-align: center;
    padding-right: 15px;
    padding-top: 10px;
    font-weight: bold;
}

.input-container {
    flex: 1;
    position: relative;
}

.input, .textarea {
    width: 95%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

.textarea {
    min-height: 400px;
    resize: none;
    border-top: 1px solid #ccc;
}

.input:focus, .textarea:focus {
    border-bottom-color: #2e3d86;
}

.file-attachment-area {
    flex: 1;
}

.file-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

.btn-upload:hover {
    background: rgb(77,77,77);
    color: #fff;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 8px;
}

.dropzone {
    border: 2px dashed gray;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-left: 27px;
    min-height: 60px;
    width: 95%;
}

.dropzone.active {
    border-color: blue;
}

.file-list {
    list-style-type: none;
    padding: 0;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    color: red;
}

.file-util{
    display: flex;
    flex-direction: column;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.btn-send {
    width: 100px;
    height: 40px;
    background-color: #2e3d86; /* 테마 색상 적용 */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-send:hover {
    background-color: #1d2a6d;
}

.btn-preview {
    width: 100px;
    height: 40px;
    background-color: #6c757d; /* Bootstrap의 secondary 색상 */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-preview:hover {
    background-color: #5a6268;
}

/* 이메일 미리보기 스타일 */
.email-preview {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.email-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.attachment-section {
    margin: 20px 0;
}

.attachment-divider {
    border: none;
    border-top: 1.5px solid gray;
}

.email-content {
    margin-top: 20px;
}

.file-size {
    color: gray;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 8px;
}
