.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 15px; /* 열과 열, 행과 행 사이 간격 */
    padding: 10px;
    /* margin: auto; */
    width: calc(100% - 250px);
    font-family: 'ONE-Mobile-Regular';
}

.gridItem {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    color: #2e3d86;
    width: 450px;
}

/* 오른쪽 열 병합 */
.gridItem-right {
    grid-row: span 2; /* 2개의 행을 병합 */
}

/* 화면 크기가 1250px 이하일 때, 그리드 열을 2개로 조정 */
@media screen and (max-width: 1250px) {
    .gridContainer {
      grid-template-columns: repeat(2, 1fr); /* 2개의 열 */
      margin-left: 0;
      width: 100%;
    }
  
    .menubar {
      display: none; /* 메뉴바 숨기기 */
    }
}

/* 화면 크기가 768px 이하일 때, 그리드 열을 1개로 조정 */
@media screen and (max-width: 768px) {
    .gridContainer {
      grid-template-columns: 1fr; /* 1개의 열 */
      width: 100%;
    }
}
  
  /* 화면 크기가 1450px 이상일 때, 최대 너비 설정 */
  @media (min-width: 1450px) {
    .containerbox, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1700px !important;
    }
}

.table {
    text-align: center;
    justify-items: center;
    color: #000000;
}

.colTitle {
    padding: 5px;
    font-family: 'ONE-Mobile-Regular';
    font-weight: bolder;
    font-size: x-large;
}

.titleBorderBar {
    border: 1.5px solid #2e3d86;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 20px;
    opacity: 1 !important;
    text-align: center;
}

@media (min-width: 1450px) {
    .containerbox, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1700px !important;
    }
}

@media screen and (max-width: 987px) {
    .gridContainer {
      margin-left: 0; /* 메뉴바가 없으므로 여백 제거 */
      width: 100%; /* 전체 너비 사용 */
    }
  }