<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 풀 패키지명을 namespace작성한다 그래야지만 mapper 인터페이스에서 함수 호출시 매핑해서 sql을 실행할 수 있다. -->
<mapper namespace="com.ss.paperless.employee.EmployeeMapper">
	<select id="getEmpInfo"
		parameterType="String"
		resultType="com.ss.paperless.employee.EmployeeDTO">
		select * from employee where emp_code = #{emp_code}
	</select>
	<select id="EmployeeById"
    parameterType="com.ss.paperless.employee.LoginDTO"
    resultType="com.ss.paperless.employee.EmployeeDTO">
    SELECT e.*, r.role_name
    FROM employee e
    LEFT JOIN employee_roles r ON e.emp_code = r.emp_code
    WHERE e.emp_code = #{username}
	</select>
	<select id="getUserPosi" parameterType="String"
		resultType="String">
		select posi_name from position join employee on position.posi_no = employee.emp_posi_no where employee.emp_code = #{emp_code};
	</select>
	<select id="existsByUsername" parameterType="String"
		resultType="int">
		SELECT EXISTS (
		SELECT 1
		FROM `User`
		WHERE `username` = '입력할_사용자이름'
		) AS user_exists
	</select>
	<select id="GetAdminUsers" 
		resultType="com.ss.paperless.company.CompanyDTO">
		select *
		from company
	</select>
	<update id="updateEmp" parameterType="Long">
		UPDATE Employee
		SET column_name = new_value
		WHERE id = #{id}
	</update>

	<!-- 조직도 조회 -->
	<select id="getEmpCompNo" parameterType="String" resultType="int">
		select emp_comp_no
		from employee
		where emp_code = #{emp_code}
	</select>

	<select id="getEmpMenuList" parameterType="int" resultType="com.ss.paperless.employee.EmployeeDTO">
		SELECT * FROM paperless.employee
		         WHERE emp_comp_no = #{emp_comp_no}
		         AND emp_role != 'super'
	</select>
	<select id="getEmpDepartMenuList" parameterType="int" resultType="com.ss.paperless.employee.EmployeeDTO">
		SELECT emp.emp_no, emp.emp_code , emp.emp_name, emp.emp_dept_no, dep.dept_name, dep.dept_team_name, pos.posi_name,
			   emp.emp_phone, emp.emp_email, emp.emp_profile, com.comp_name
		FROM paperless.employee emp
				 LEFT JOIN paperless.department dep ON emp.emp_dept_no = dep.dept_no
				 LEFT JOIN paperless.position pos ON emp.emp_posi_no = pos.posi_no
				 LEFT JOIN paperless.company com ON emp.emp_comp_no = com.comp_no
		WHERE emp_comp_no = #{emp_comp_no}
		AND emp_role != 'super'
	</select>

	<!-- 보고서 user Info 조회-->
	<select id="getUserInfo" parameterType="String" resultType="com.ss.paperless.employee.EmployeeDTO">
		SELECT emp.emp_no, emp.emp_code , emp.emp_name, emp.emp_dept_no, dep.dept_name, dep.dept_team_name, pos.posi_name,
			   emp.emp_phone, emp.emp_email, emp.emp_profile, com.comp_name
		FROM paperless.employee emp
				 LEFT JOIN paperless.department dep ON emp.emp_dept_no = dep.dept_no
				 LEFT JOIN paperless.position pos ON emp.emp_posi_no = pos.posi_no
				 LEFT JOIN paperless.company com ON emp.emp_comp_no = com.comp_no
		WHERE emp_code = #{emp_code}
	</select>
	<select id="GetDeptNamelist" resultType="String">
		select distinct dept_name from department limit 2, 100
	</select>
	
	<select id="GetTeamNameList" resultType="String">
		select dept_team_name from department where dept_name = #{dept_name}
	</select>
</mapper>