<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  풀 패키지명을 namespace작성한다
그래야지만 mapper 인터페이스에서 함수 호출시
매핑해서 sql을 실행할 수 있다. -->
<mapper namespace="com.ss.paperless.schedule.ScheduleMapper">                                                                
	<!-- public List<ScheduleDTO> getCompSchedule(String emp_comp_no) ;

	public List<ScheduleDTO> getDeptSchedule(String emp_comp_no, String emp_dept_no) ;

	public List<ScheduleDTO> getPrivateSchedule(String emp_no, String emp_comp_no, String emp_dept_no) ; -->
	<select id="getCompSchedule" resultType="com.ss.paperless.schedule.ScheduleDTO">
	select * from scheduler where sche_comp_no = #{emp_comp_no} and sche_dept_no is NULL and sche_emp_no is NULL;
	</select>
	<select id="getDeptSchedule" resultType="com.ss.paperless.schedule.ScheduleDTO">
	select * from scheduler where sche_comp_no = #{emp_comp_no} and sche_dept_no = #{emp_dept_no} and sche_emp_no is NULL;
	</select>
	<select id="getPrivateSchedule" resultType="com.ss.paperless.schedule.ScheduleDTO">
	select * from scheduler where sche_comp_no = #{emp_comp_no} and sche_dept_no = #{emp_dept_no} and sche_emp_no = #{emp_no};
	</select>
	<insert id="ScheduleInsertComp">
	insert into scheduler (sche_emp_no, sche_comp_no, sche_dept_no, sche_title, sche_color, sche_start, sche_end)
	values (null,#{comp_no},null,#{sche_title},'#87CEFA',#{sche_start},#{sche_end})
	</insert>
	<insert id="ScheduleInsertDept">
	insert into scheduler (sche_emp_no, sche_comp_no, sche_dept_no, sche_title, sche_color, sche_start, sche_end)
	values (null,#{comp_no},#{dept_no},#{sche_title},'#fecee0',#{sche_start},#{sche_end})
	</insert>
	
	<insert id="ScheduleInsertPrivate">
		insert into scheduler (sche_emp_no, sche_comp_no, sche_dept_no, sche_title, sche_color, sche_start, sche_end)
		values (#{emp_no},#{comp_no},#{dept_no},#{sche_title},'#a0c49c',#{sche_start},#{sche_end})
	</insert>
</mapper>