.apprModalHeader {
    background-color: #FFEAB8; /* 헤더 배경색 */
    text-align: center;
  }
  
  .apprModalTitle {
    font-size: 18px;
    font-weight: bold;
  }
  
  .apprTabs {
    margin-bottom: 20px;
  }
  
  .orgChartContainer {
    padding: 15px;
    background-color: #F9F9F9;
    border: 1px solid #ddd;
  }
  
  .modalSaveBtn {
    background-color: #007bff; /* 확인 버튼 색상 */
    border: none;
  }
  
  .modalCancelBtn {
    background-color: #fefefe; /* 취소 버튼 색상 */
    color: #333;
    border: 1px solid #ddd;
  }
  