/* 모달 전체 크기 설정 */
.apprModal .modal-dialog {
  width: 800px !important; /* 원하는 전체 너비 */
  max-width: none !important;
  min-height: 100% !important;
}

/* 모달 내부의 content 크기 설정 */
.apprModal .modal-content {
  width: 800px !important;
  max-width: none !important;
  min-height: 100% !important;
}

.modal-content {
  width: 800px !important;
  min-height: 100% !important;
}

.apprModalHeader, .apprModalBody, .apprModalFooter {
  width: 800px !important; /* 헤더, 바디, 푸터의 너비를 동일하게 100%로 설정 */
  min-height: 100% !important;
}

/* 스타일 유지 */
.apprModalHeader {
  background-color: #2e3d86;
  color: #fefefe;
  text-align: center;
}

.apprModalTitle {
  font-size: 18px;
  font-weight: bold;
}

.apprTabs {
  margin-bottom: 20px;
}

.apprTab {
  display: flex;
}

.orgChartContainer {
  width: 465px;
  padding: 15px;
  background-color: #F9F9F9;
  border: 1px solid #ddd;
  display: flex;
}

.modalSaveBtn {
  background-color: #2e3d86;
  border: none;
}

.modalSaveBtn:hover {
  background-color: #7289CF;
}

.modalSaveBtn:focus, .modalSaveBtn.active {
  background-color: #2e3d86 !important;
}

.apprModalBody {
  display: flex;
  height: 500px;
}

.orgChatList {
  height: 500px;
}

.selectedPeopleTable {
  margin-left: 30px;
}

.orgChartList {
  width: 500px;
  border: 1px solid #2e3d86;
  background-color: #fefefe;
  padding: 15px 15px 10px 0;
}
