/* 스타일 유지 */
.apprModalHeader {
  background-color: #2e3d86;
  color: #fefefe;
  text-align: center;
}

.apprModalTitle {
  font-size: 18px;
  font-weight: bold;
}

.apprTabs {
  margin-bottom: 20px;
}

.apprTab {
  display: flex;
}

.orgChartContainer {
  width: 765px;
  padding: 15px;
  background-color: #F9F9F9;
  border: 1px solid #ddd;
  display: flex;
  
}

.modalSaveBtn {
  background-color: #2e3d86;
  border: none;
}

.modalSaveBtn:hover {
  background-color: #7289CF;
}

.modalSaveBtn:focus, .modalSaveBtn.active {
  background-color: #2e3d86 !important;
}

.apprModalBody {
  display: flex;
  height: 400px;
}

.orgChatList {
  height: 300px;
  width: auto;
}

.selectedPeopleTable {
  text-align: center;
  height: auto;
  width: 100%;
  background-color: #7289CF;
  overflow: hidden;
  overflow-y: auto;
}

.selectedPeopleTable tbody tr {
  height: 40px; /* 각 행의 높이를 40px로 고정 */
  vertical-align: middle;
}

.headquarters
.department
.empUser {
  width: 100px;
}


.orgChartList {
  width: 250px;
  height: 300px;
  border: 0.5px solid #2e3d86;
  padding: 15px;
  overflow-y: auto;
}

.apprTableContainer {
  background-color:#dfe7ff ;
  text-align: center;
  width: 500px;
  height: 300px;
  margin-left: 15px;
  overflow-y: auto;
}

.selectedRow {
  height: 30px;
  width: 100%;
  text-align: center;
}