@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.main_cont_1 {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;


    animation: op1 2.3s;
    color: #020202;
}

.cont1_bg {
    background: linear-gradient(to top,
            rgba(255, 255, 255, 0) 10%,
            rgba(255, 255, 255, 0.25) 25%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.9) 75%,
            rgba(255, 255, 255, 1) 100%), url('../../img/paperless_main_img.jpg');
    background-size: 100% 100%;


}

@keyframes op1 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main_cont_1_title_type1 {
    font-family: 'ONE-Mobile-Title';
    margin-top: 5vh;
    width: 40%;
    font-size: 2.6rem;
    font-weight: 500;

}

.main_cont_1_title_type1_text {
    margin-bottom: 0;

}

.main_cont_1_title_type2 {

    font-family: 'ONE-Mobile-Title';
    margin-top: 1vh;
    width: 40%;
    height: 10%;
    font-size: 3.3rem;
    font-weight: 800;


}

.main_cont_1_title_type2_text {
    margin: 3vh 0 0 0;

}

.main_cont_1_title_type3 {
    font-size: 1.15em;
    margin-top: 1vh;
    color: #020202;
    width: 40%;
    height: 10%;
}

.main_cont_1_title_type3_text {
    margin: 3vh 0 0 0;

}

.main_cont_1_title_type3_text2 {
    margin: 0.5vh;

}

.main_cont_2 {
    width: 100vw;
    height: 180vh;

}

.main_cont_3 {
    width: 100vw;
    height: 30vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_cont_4 {
    width: 100vw;
    height: 80vh;
   
}
.main_cont_5 {
    width: 100vw;
    height: 90vh;
   
}


.main_cont_1_btn_container {
    font-size: 1em;
    margin-top: 1vh;
    width: 40%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.main_btn1 {
    font-size: 1em;
    width: 10vw;
    height: 5vh;
    margin: 3vh 1vw;
    border-radius: 8px;
    background-color: #020202;
    font-family: 'ONE-Mobile-Regular';
    color: #fefefe;
    font-weight: 800;
    border: 1px solid black;
    text-align: center; /* 텍스트 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
     /* 블록처럼 보이도록 */
    text-decoration: none; /* 링크의 기본 밑줄 제거 */
}

.main_btn2 {
    font-size: 1em;
    width: 10vw;
    height: 5vh;
    margin: 3vh 1vw;
    border-radius: 8px;
    background-color: #fefefe;
    font-family: 'ONE-Mobile-Regular';
    color: #020202;
    font-weight: 800;
    border: 1px solid black;
    text-align: center; /* 텍스트 중앙 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
     /* 블록처럼 보이도록 */
    text-decoration: none;
}

.main_btn1:hover,
.main_btn2:hover {
    border: none;
    color: #fefefe;
    background-color: #2e3d86;
}

.top_btn_box {
    width: 100%;
    margin-top: 35vh;
    display: flex;
    align-items: end;
    justify-content: end;

}

.top_btn {
    margin-right: 2vw;
    width: 10vh;
    height: 10vh;
    background-color: #2e3d86;
    position: fixed;
    border-radius: 100%;
    color: #fefefe;
    z-index: 1;
}

.next_div_btn {
    margin-right: 47.5%;
    width: 10vh;
    height: 10vh;
    background-color: #2e3d86;

    border-radius: 100%;
    color: #fefefe;
}

.main_cont_2_type1, 
.main_cont_2_type2,
.main_cont_2_type3,
.main_cont_2_type4{
    margin-top: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative; /* 상대 위치 */
    transform: translateY(10%); /* 아래에서 시작 */
    opacity: 0; /* 초기 상태에서 투명 */
    margin-bottom: 15vh;
    transition: transform 2s ease, opacity 2s ease; /* 부드러운 전환 */
}
.type1_img_cont,
.type2_img_cont,
.type3_img_cont,
.type4_img_cont{
   margin-right: 2em;
   margin-left:  2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main_cont_2_type1.show,
.main_cont_2_type2.show,
.main_cont_2_type3.show,
.main_cont_2_type4.show {
    transform: translateY(0); /* 원래 위치로 이동 */
    opacity: 1; /* 불투명 */
}

.type4_img_script,
.type2_img_script {
    
    margin-left: 10vw;
    width: 30vw;
    height: auto;
    word-wrap: break-word;  /* 단어가 너무 길 경우 줄바꿈 */
    white-space: normal;
}


.type1_img_script,
.type3_img_script {
    
    width: 30vw;
    height: auto;
    word-wrap: break-word;  /* 단어가 너무 길 경우 줄바꿈 */
    white-space: normal;
    margin-right: 10vw;
}

.type1 {
    width: 30vw;
    height: auto;

}

.main_script_title {
    font-family: 'ONE-Mobile-Title';
    font-weight: 500;
    font-size: 2rem;
}

.main_script_contents {
    
    font-family: 'ONE-Mobile-Regular';
    font-size: 1.2rem;
}

.logo-slider {
    overflow: hidden;
    /* 스크롤 숨기기 */
    white-space: nowrap;
    /* 요소들을 한 줄로 나열 */
    width: 100%;
    /* 전체 너비 사용 */
}

.logo-slider-track {
    display: inline-block;
    /* 인라인 블록으로 설정 */
    animation: Logoscroll 25.5s linear infinite;
    /* 애니메이션 설정 */
   
}

.logo {
    display: inline-block;
    /* 인라인 블록으로 설정 */
    margin-right: 20px;
    /* 로고 사이 여백 */
}

.logo img {
    width: 20vh;
    height: 15vh;
    object-fit: contain;
    background-color: #fefefe;
    border-radius: 20px;
}
.main_cont_3{
    margin-bottom: 25vh;
}
.main_cont_3_title{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.main_cont_2_title,.main_cont_4_title{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.main_cont_3_title_type1_text{
    font-size: 3rem;
    font-family: 'ONE-Mobile-Title';
}
.main_cont_3_title_type2_text2{
    font-family: 'ONE-Mobile-Regular';
    font-size: 1.2rem;
}
@keyframes Logoscroll {
    0% {
        transform: translateX(0);
        /* 시작 위치 */
    }

    100% {
        transform: translateX(-50%);
        /* 끝 위치 (두 배 길이로 설정) */
    }
}
.CardImgArea{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card-slider-track {
    display: inline-block;
    /* 인라인 블록으로 설정 */
    animation: Cardscroll 60s linear infinite;
    /* 애니메이션 설정 */
    animation-play-state: running;
}
.card-slider:hover .card-slider-track {
    animation-play-state: paused; /* hover 시 애니메이션 정지 */
}
.card {
    display: inline-block;
    /* 인라인 블록으로 설정 */
    margin-right: 20px;
    /* 로고 사이 여백 */
}
.card-slider {
    overflow: hidden;
    /* 스크롤 숨기기 */
    white-space: nowrap;
    /* 요소들을 한 줄로 나열 */
    width: 100%;
    /* 전체 너비 사용 */
}
@keyframes Cardscroll {
    0% {
        transform: translateX(0);
        /* 시작 위치 */
    }

    100% {
        transform: translateX(-147%);
        
    }
}
.main_cont_4_type1 {
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    cursor: pointer; 
    margin-bottom: 1rem;
}

.main_cont_4_type1_q {
    font-weight: bold; 
}

.main_cont_4_type1_a {
    font-size: 1.2rem;
    padding: 0;
    margin-top: 0; 
    color: #020202; 
    background-color: #fefefe;
    max-height: 0; /* 초기 높이 설정 */
    overflow: hidden; /* 넘치는 내용 숨김 */
    transition: max-height 0.5s ease, opacity 0.5s ease,padding 0.5s ease; /* 높이와 불투명도에 대한 전환 효과 */
    opacity: 0; /* 초기 상태에서 투명하게 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_cont_4_type1_a.show {
    max-height: 12vh; /* 최대 높이 설정 (조정 가능) */
    opacity: 1; /* 보일 때는 불투명하게 설정 */
    padding: 1em;
}
.main_cont_5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq{
    width: 50%;
}
.main_cont_4_type1{
    padding: 0;
    font-family: 'ONE-Mobile-Regular';
}
.main_cont_4_type1_q{
    padding: 1rem;
    background-color: #5A77B6;
    border-radius: 10px;
    background-color: #7289CF;
    color: #020202;
    text-align: left;
    font-size: 1.3rem;
}
p.qa_q{
    padding: 0%;
    margin: 0;
}
.card_text{
    width: 100%;
    height: 15vh;
    
    
}
p{
    word-wrap: break-word;  /* 단어가 너무 길 경우 줄바꿈 */
    white-space: normal;
}
.card_title{
    font-family: 'ONE-Mobile-Regular' !important;
    font-weight: bolder !important;
}
button{
    background-color: #ffffff;
}