@font-face {
    font-family: 'ONE-Mobile-Title';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.footer_btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

}
.footer_btn{
   width: 10vw;
   border: none;
   margin: 3vh 0vw 3vh 0vw;
   font-size: 1.1em;
   font-weight: 900;
   font-family: 'ONE-Mobile-Regular';
}
.footer_compant_info_compname{
    
    font-weight: bolder;
    margin-bottom: 1vh;
}

.footer_compant_info{
    
}

header{
    z-index: 1;
    display: flex;
    position: fixed;
    background-color: white;
}
.logo_Img{
    width: 30vw;
    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_Container{
    width: 40vw;
    height: 10vh;
    
}
.btn_Container{
    width: 30vw;
    height: 10vh;
    background-color: btn_Container;
}
.Header-logo{
    width:40%;
    height: auto;
}
.logo_Img_start{
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header-logo-start{
    width: 15%;
    height: auto;
}
.header-one, .header-two {
    transition: all 0.3s ease; /* 모든 속성에 애니메이션 효과 추가 */
}

.logo_Img_start, .logo_Img {
    transition: transform 0.3s ease; /* 로고 크기 변경에 애니메이션 효과 추가 */
}
.header_btn{
    width: 5vw;
   border: none;
   margin: 3vh 0vw 3vh 0vw;
   font-size: 1.1em;
   font-weight: 900;
   font-family: 'ONE-Mobile-Regular';
}

/* 메뉴 햄버거 아이콘  */
.hamburger {
    color:#2e3d86;
    position: absolute;
    left: 0; /* 화면의 왼쪽에 위치하게 함 */
    top: 50%; /* 아이콘을 세로 중간에 맞추기 위해 */
    padding-left:25px;
    transform: translateY(-50%);
    cursor: pointer; /* 커서 모양을 포인터로 변경 */
    display: none; /* 기본적으로 숨기기 */
    outline: none;
}

@media screen and (max-width: 992px) {
    .hamburger {
        display: block; /* 중간 화면 크기일 때 보이기 */
    }
}

/* 큰 화면에서는 햄버거 아이콘 숨기기 */
@media screen and (min-width: 993px) {
    .hamburger {
        display: none; /* 큰 화면에서는 다시 숨기기 */
    }
}