/* 전체 레이아웃 */
/* .header {
  display: flex;
  height: 100vh; /* 화면 전체 높이로 설정 
} 
*/

/* 고정된 왼쪽 메뉴바 */
.menubar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-top:100px;
  width: 200px; 
  /* height: 80%;  */
  background-color: #5A77B6; 
  color: #fefefe;
  display: flex;
  flex-direction: column;
  border-radius: 0 20px 20px 0;
  transition: transform 0.3s ease;
  z-index: 1;
  /* max-height: 360px; 기본 높이 설정 */
  letter-spacing: 0.5px;
}

.menubar.open {
  max-height: 650px;
}

.subDropdownMenu.open {
  max-height: auto;
}

.menubar ul {
  list-style-type: none;
  padding: 0;
}

.menubar li {
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

/* 선택된 메뉴 항목에 대한 active 클래스 */
.menuList .active {
  background-color: #2e3d86;
  color: #fefefe;
}

.iconbox {
  margin-top: 15px;
  display: flex;
  padding:5px;
  justify-content: space-around;
}

.iconbox button {
  background-color: #7289CF;
  color: #fefefe;
  border: 1px solid #7289CF;
  border-radius: 100%;
  width: 25%;
  height: 45px;
}

.iconbox button:hover {
  background-color: #fefefe;
  color: #7289CF ;
  /* color: #2e3d86; */
  border: 1px solid #fefefe;
}

.iconbox i {
  font-size: 30px;
  margin-top: 5px;
  margin-right: 3px;
  text-align: center;
}

.iconbox i:hover {
  cursor: pointer;
}

/* 페이지 내용이 메뉴바 옆으로 위치하도록 설정 */
.content {
  margin-left: 200px; 
}

.profilbox{
  border-top: 3px solid #2e3d86;
  border-right: 3px solid #2e3d86;
  background-color: #2e3d86;
  color: #fefefe;
  border-radius: 0 10% 10% 0;
  padding: 15px 5px 25px 5px;
}

.profiltitle {
  padding-left: 8px;
  text-align: center; 
  margin-top: 6px;
  font-family: 'ONE-Mobile-Title';
}

.profiltitle p {
  margin-bottom: 0.2rem;;
}

.titlename {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.titlename .userName {
  font-size: 25px;
}

.titlename .userGrade {
  margin-top: 8px;
  margin-left: 8px;
  font-size: 18px;
}

.menuList {
  margin-top: 10px;
  list-style: none;
  text-align: left;
}

/* .menuList li {
  cursor: pointer;
}

.menuList li:hover {
  background-color: #2e3d86;
}

.menuList li.active {
  background-color: #2e3d86;
} */

.dropdown {
  margin-top: 6px;
  cursor: pointer;
}

.dropdown:hover {
  margin-top: 6px;
  background-color: #2e3d86;
}

.dropdown.active {
  margin-top: 6px;
  background-color: #2e3d86;
}

.dropdownToggle {
  display: block;
  width: 180px; /* 버튼이 부모 요소의 전체 너비를 차지하도록 */
  text-align: center; 
  padding-left: 20px;
  padding-right: 60px;
  border: none;
  cursor: pointer;
  font-size: 16px; 
  font-weight: bold;
  /* background-color: #5A77B6; */
  color:rgb(255, 255, 255);
  outline: none; /* 포커스 시 outline 제거 */
}

.dropdownToggle:hover {
  outline: none;
}

.dropdownToggle:focus {
  outline: none; 
}

.dropdownMenu {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  background-color: #2e3d86;
  list-style: none;
  margin-top: 5px;
  padding: 0;
  font-size: 8px;
  outline: none; /* 포커스 시 outline 제거 */

  transition: max-height 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.dropdownMenu.open {
  height: 300px; /* 드롭다운이 열렸을 때 높이 설정 */
}

.dropdownMenu li {
  padding: 8px 12px;
  cursor: pointer;
  outline: none;
}

.dropdownMenu li:hover {
  outline: none; 
  box-shadow: none; 
}

.dropdownMenu li:focus {
  font-weight: bold;
  outline: none; 
  box-shadow: none; 
}

.sublist, .sublist_mypage, .sublist_cal {
  width: 150px;
  background: none;
  border: none;   
  outline: none;  
  box-shadow: none; 
  color:#fefefe;
  justify-items: center;
  font-size: 16px;
  font-weight: bold;
  padding-left: 0px;
  text-align: left;
  vertical-align: middle;
  transition: background-color 0.3s ease;
}

.submenu {
  width: 100%;
  background: none;
  border: none;   
  outline: none;  
  box-shadow: none; 
  color: #fefefe;
  justify-items: center;
  vertical-align: middle;
  font-size: 14px;
  padding-right: 20px;
  padding-top:0;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submenu2 {
  width: 100%;
  background: none;
  border: none;   
  outline: none;  
  box-shadow: none; 
  color: #fefefe;
  font-size: 14px;
  padding-right: 35px;
  padding-top:0;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.sublist.active, .submenu.active, .submenu2.active, .lastsubmenu p.active {
  background-color: #b0c4de;
  color: #333;
}

.sublist:hover, .submenu:hover, .submenu2:hover, .lastsubmenu p:hover {
  background-color: #b0c4de;
  color: #333;
}

.subDropdownMenu {
  margin-top: 10px;
}

.subDropdownMenu.active {
  background-color: #2e3d86;
}


.dropdown:hover, .dropdown.active {
  background-color: #2e3d86;
  color: #fefefe;
}

.lastsubmenu {
  width: 150px;
  background: none;
  border: none; 
  /* padding-top:8px;
  padding-left: 35px;     */
  margin: 0px 10px 0 35px;
  outline: none;  
  box-shadow: none; 
  color:white;
  justify-items: center;
  text-align: left;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}

.lastsubmenu p {
  margin: 0;
  margin-right: 10px;
  width: 120px;
  padding:3px;
  transition: background-color 0.3s ease;
  /* background-color: #B0C4DE; */
}

.lastsubmenu:hover {
  background-color: #B0C4DE;
  color:black;
  width: 80%;
  text-align: center;
}

.lastsubmenu.active {
  background-color: #B0C4DE;
  color:black;
  width: 80%;
  text-align: center;
}

/* .lastsubmenu p:hover {
  background-color: #B0C4DE;
  color:black;
  width: 100%;
  text-align: center;
}

.lastsubmenu p:active {
  background-color: #B0C4DE;
  color:black;
  width: 100%;
  text-align: center;
} */

@media screen and (max-width: 992px) {
  .menubar {
    display: none; /* 메뉴바 숨기기 */
  }
}