.container_orgChart button {
    border: none;
    background-color: inherit;
    font-size: 15px;
}

.container_orgChart ul {
    list-style: none;
}

.container_orgChart {
    display: flex;
    text-align: left;
}

.orgChartList {
    display: list-item;
}
