button {
    border: none;
    background-color: inherit;
    font-size: 20px;
}

.container_orgChart ul {
  list-style: none;
}

.container_orgChart {
    display: flex;
    text-align: left;
}

.orgChartList {
    display: list-item;
}

.compDropdown {

}
