/* stock_chart.module.css */

.container_stockChart button {
    border: none;
    background-color: inherit;
    font-size: 15px;
    cursor: pointer;
    text-align: left;
    width: 300px;
}

.container_stockChart ul {
    list-style: none;
    padding: 0;
}

.stockChart {
    margin-left: 50px;
}


.stockChartList {
    display: list-item;
    padding-left: 20px; /* 하위 메뉴 들여쓰기 */
    margin-top: 5px;
    text-align: left;
}

.stockChartList {
    padding-left: 20px;
    margin-top: 5px;
}

/* 선택된 항목 */
.selectedItem {
    font-weight: bolder;
    color: #2e3d86; 
}