/* form header */
.formHeader{
    justify-content: center;
    align-items: center; 
    text-align: center;
    margin-left: 90px;
    margin-right: 100px;
}

.pageTitle {
    text-align: left;
    color: #2b2b2b;
}

.apprSumbitBtnBox {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 800px; 
    margin: 15px auto; /* 가운데 정렬 */
}

.apprSumbitBtnBox Button {
    width: 100px;
    padding: 8px;
    background-color: #2e3d86;
    border-color: #2e3d86;
}

.apprSumbitBtnBox Button:hover {
    border-color: #7289CF;
    background-color: #7289CF;
    font-weight: bold;
}

.pdfBtn {
    margin-right: 15px;
}

.apprSumbitBtnBox Button:focus{
    border-color: #2e3d86 !important;
    background-color: #2e3d86 !important;
    font-weight: bold;
}


/* content */
.backsection {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 가운데 정렬 */
}

.contentsection {
    width: 800px; /* 원하는 너비로 설정 */
    margin-top: 20px; /* 위쪽 여백 */
    margin-bottom: 40px;
}

.mainTable {
    text-align: center;
}

/* docinfo */
.labelCellTitle{
    width: 18.5%;
}

.docInfoSection {
    display: flex;
    justify-content: space-between;
}

.innerTable{
    width: 300px;
}

.innerApprTable{
    width: 30%;
    height: 50%;
    margin: 0 0 16px 0;
    border: 1px solid #dee2e6;
    align-items: center;
    vertical-align: middle;
}

/* innerApprTable col */
.valueCell {
    width: 150px;
    height: 40px;
}

.docValueAppr{
    height: 100px;
}

.docValue_date{
    height: 40px;
}

.labelCellCol{
    width: 18.5%;
}

.detailsTitle{
    height: 10%;
}

.valueCellContent {
    padding: 20px !important;
    text-align: left;
}

.fileList {
    list-style: none;
    text-align: left;
}